@model IEnumerable<Elhoot_HomeDevices.Data.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>المخزن </h1> <h1>كل المبلغ =@ViewBag.totalprice</h1>

<p>
    <a asp-action="Creat">اضافه منتج جديد</a>
</p>

<table class="table">
    <thead>
        <ul>
            @foreach (var category in Model)
            {
                <li>

                    <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@category.Id" asp-route-CatName="@category.Name" style="text-decoration: none; font-weight: bold; background-color: dimgray; color: white; padding: 8px 16px; border-radius: 4px;">@category.Name</a>
                    
                    <br>
                    <br>

                    <br>
                    
                </li>
            }
        </ul>
       
    </thead>
     
</table>
