@{
    ViewData["Title"] = "Empty Order Index";
}

<h1>الراجل ده ماعندهوشاقساط ولا اى حاجه</h1>
<p>
    <a asp-action="Create" asp-route-customername="@TempData["customername"]">Create New Order</a> 
    </p>
@*// asp-route-customername="@TempData["customername"]*@